<footer>
  2021 ─ Eduardo Stuart | <a href="https://www.linkedin.com/in/eduardo-stuart/" target="_blank">LinkedIn</a> | <a href="https://github.com/eduardo-stuart/ibm-challenge" target="_blank">GitHub</a>
</footer>