<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
<body>
  <%- include('./partials/nav') %>

  <div class="conexoes">
    <h1>Ingressar com...</h1>
    <a href="/auth/google" class="btn btn-social btn-google"><i class="fab fa-google"></i> Google</a>
    <a href="/auth/twitter" class="btn btn-social btn-twitter"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="/auth/linkedin" class="btn btn-social btn-linkedin"><i class="fab fa-linkedin"></i> Linkedin</a>
  </div>

  <%- include('./partials/footer') %>

</body>
</html>